@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */

  /* font */
  --font-montserrat: 'Montserrat', sans-serif;

  /* colors */
  --color-primaryOrange: #fd5725;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

/* Base style :: Start  */
  /* Layout */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.vw-40{
  width: 40vw;
}

.vw-60{
  width: 60vw;
}

.p-60{
  padding: 60px;
}

/* Base style :: End  */