@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */

  /* font */
  --font-montserrat: 'Montserrat', sans-serif;

  /* colors */
  --color-primaryOrange: #fd5725;
  --color-white: #ffffff;
  --color-borderDefault: #E0E0E0;
  --color-borderFocus: #000000;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

/* Base style :: Start  */
/* Layout */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* width */
.vw-40 {
  width: 40vw;
}

.vw-60 {
  width: 60vw;
}

/* Border radius default*/

/* rounded-xs    0.125rem (2px) */
/* rounded-sm   0.25rem (4px) */
/* rounded-md (6px) */
/*  rounded-lg (8px) */
/*  rounded-xl 0.75rem (12px) */
/*  rounded-2xl (16px) */
/*  rounded-3xl  1.5rem (24px) */
/*  rounded-4xl  2rem (32px) */

/* padding */

.p-60 {
  padding: 60px;
}

/* Label  */
.page_label {
  font-weight: 700;
  font-size: 32px;
}

.input_label {
  font-weight: 700;
  font-size: 14px;
}

/* Base style :: End  */
